<!DOCTYPE html>
<html>

    <h1>UC Berkeley Admissions</h1>
    <p class="byline">By <a href="https://github.com/lindyang22/">LINDSAY YANG</a></b></p>
    <p>MARCH 31, 2017</p>

    <div class="lead-text">
      <p>The college admissions process to the University of California is known to lack transparency, and many hypothesize which factors contribute most towards admissions. Amidst the political, social, and enconomic turmoil of the recent times, we ask how education has been affected.</p>

      <p>The Daily Californain analyzed Applied, Admitted, and Enrolled student data ranging from 1997 to 2016 from <a href="http://calanswers.berkeley.edu/" target="_blank">Cal Answers</a>, a repository for campus data. The year displayed reflects the data analysis of that year's incoming fall semester freshman class.</p>

      <p>The analysis is further broken down into four fields commonly debated among policymakers, administrators, students, faculty, etc. We found that for certain groups, admissions appears to grow increasingly more difficult due to spikes in applicants. For other groups, there are clear deficiencies in number of applications
      </p>

      <p>Below, you can analyze for yourself the changes throughout the last two decades. Hit "What are my Chances?" to render the graphics.</p>
    </div>
</div> <!-- top -->
</html>